body {
  font-family: "PT sans", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}
h1 {
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  font-family: "Chewy", cursive;
  font-size: 5rem;
}

.hello{
    color:red;
}

div div div div div div div div div div div div div div div{
    color:black
}

































































































    /* .hello{
      color:black;
  }

  div div div div div div div div div div div div div div div{
      color:blueviolet;
  } */